@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

html {
      margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
          background: radial-gradient(circle, rgba(255, 243, 184, 1) 0%, rgba(196, 231, 183, 1) 100%) !important
}

body {
font-family: "Alegre";
font-size: 130%;
height: 100%;
margin: 0.1px;
}

