#up-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5rem;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

#up-icon:hover {
    filter: invert(26%) sepia(39%) saturate(1583%) hue-rotate(75deg) brightness(96%) contrast(116%);
}