.upload-profile-picture {
    margin-bottom: 1rem;
    margin-left: -0.4rem;
    margin-bottom: 1.5rem;
}

#update-profile-hr {
    margin-bottom: 2rem;
}

#update-profile-p {
    margin-left: 0.5rem;
    margin-right: -0.5rem
}