.cards-container {

    margin-left: 1rem;
    margin-right: 1rem;
}

.all-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.one-card {

    margin: 1rem;
}


.card-img img {
    width: 20rem;
}

#small-logo {
    width: 15vh;
    margin-top: 9rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}