#back-icon {
    margin-top: 7rem;
    margin-left: 2rem;
    width: 45px;
    height: 45px;
    position:absolute;
    cursor: pointer;
}

#back-icon:hover {
    filter: invert(26%) sepia(39%) saturate(1583%) hue-rotate(75deg) brightness(96%) contrast(116%);
}