
.home-container p {
  margin-top: 10rem;
  margin-left: 10%;
  margin-right: 50%;
}

@media (max-width: 606px) {
.home-container p {
    margin-top: 6rem;
    margin-left: 5%;
    margin-right: 50%;
    font-size: 100%;
  }
}

.home-container {
  position:absolute;
  min-height: 100%;
  background-image: url("../../assets/landing.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}